
@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5, h6,
p,
label {
  color: black !important;
}

a {
  color: black;
}

.login-btn {
    /* width: 6rem; */
    width: 100%;
  }

.form-lbl {
  font-size: .8rem;
}
