
@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5, h6,
p,
label {
  color: black !important;
}

h1 { 
  font-size: 2rem;
  font-weight: bold !important;
}

a {
  color: black;
}

.login-btn {
    /* width: 6rem; */
    width: 47%;
  }

.logout-btn {
  width: 6rem;
  height: 2rem;
  font-size: .5rem;
  margin: 1rem;
  padding: -1rem 0rem;
}

.rmd {
}

.rmd h1 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.rmd h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.rmd h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.rmd ul {
  margin-top: 1em;
  margin-bottom: 1em;
  list-style: disc outside none;
}

.rmd ul li {
  margin-left: 2em;
  display: list-item;
  text-align: -webkit-match-parent;
}
 .rmd p { 
  font-size: 1em;
  font-weight: 400; 
  white-space: pre-wrap;
}

.ok-btn {
  width: 4rem;
  margin: .5rem;
}

.code-editor {
  height: 23rem;
  font-family: monospace;
  font-size: 14;
  border-radius: .1rem;
}

.code-editor textarea {
  outline: none !important;
}

.code-editor textarea:focus {
  outline: none !important;
}

.ctr-container {
  display: flex;
  padding-top: 25%;
  padding-bottom: 50%;
  /* padding-top: 50%; */
  justify-content: center;
  align-items: center;
}

.borgir {
  margin-top: 1rem;
  margin-left: 1rem;
}

.lernhead {
  margin-top: 1.65rem;
  margin-bottom: 2rem;
  margin-left: 4rem;
}